* {
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
}

body {
	width: 100%;
	height: auto;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../pics/face.gif') 50% 50% no-repeat rgb(249,249,249);
}

h1 {
	font-size: 3rem;
}

header {
	width: 100%;
	
	height: 3.5rem;
	text-align: left;
	background-color: #c3dac3;
}

header h1{
	width: 95%;
	margin: 0 auto;
	font-family: 'Yatra One', sans-serif;
	cursor: default;
}

a{
	font-weight: 700;
}

.main {
	width: 100%;
	height: auto;
	min-height: calc(100vh - 3.5rem - 40px);
	padding: 10px 0;
	background-color: #a1b0ab;
}

#slider-and-info{
	font-size: 24px;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

#slider-and-info > *{
	flex: 1 300px;
	margin: 1rem;
	text-align: justify;
	position: relative;
}

#slider-and-info p{
	font-size: 1.25rem;
}

#gallery-nav{
	position: relative;
	display: flex;
	flex: row wrap;
	margin: 0 auto;
	margin-top: 2em;
	width: 95%;
	height: 60px;
}

.nav-button{
	cursor: pointer;
	min-width: 50px;
	height: 100%;
	margin: 0 15px;
	padding: 5px;
	background-color: #E5D2BE;
	border: 5px solid #CEA77D;
	-webkit-border-radius: 10px 25px 0 0;
	-moz-border-radius: 10px 25px 0 0;
	border-radius: 10px 25px 0 0;
	flex: 1 300px;
	-webkit-transition: margin-top .2s, height .2s;
	transition: margin-top .2s, height .2s;
}

.nav-button:not(.currentTab):hover{
	margin-top: -15px;
	height: calc(100% + 15px);
	-webkit-box-shadow: 0 1px 3px 3px rgba(20, 20, 20, 0.2);
	-moz-box-shadow: 0 1px 3px 3px rgba(20, 20, 20, 0.2);
	box-shadow: 0 1px 3px 3px rgba(20, 20, 20, 0.2);
	
}

#gallery-nav .currentTab {
	cursor: default;
	position: relative;
	top: -15px;
	border-bottom: none;
	z-index: 2;

}

.img-container {
	position: relative;
	z-index: 1;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width: 95%;
	margin: 0 auto;
	margin-top: -5px;
	margin-bottom: 2em;
	background-color: #E5D2BE;
	border: 5px solid #CEA77D;
	box-shadow: 0 5px 10px 10px rgba(20, 20, 20, 0.2);
	-moz-box-shadow: 0 5px 10px 10px rgba(20, 20, 20, 0.2);
	-webkit-box-shadow: 0 5px 10px 10px rgba(20, 20, 20, 0.2);
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.panel {
	margin: 1rem;
	flex: 1 300px;
	/*background-color: purple;*/
	position: relative;
	overflow: hidden;
	-khtml-user-select: none;
    	-o-user-select: none;
    	-moz-user-select: none;
    	-webkit-user-select: none;
    	user-select: none;
}

.wide {
	flex: 2 600px;
}

.resume {
	display: none;
	flex: 4 1200px;
}

.contact {
	display: none;
	flex: 4 1200px;
}

#info div img{
	position: relative;
	margin: 0 auto;
}

.panel > img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

.panel > iframe {
	display: block;
	margin: 0 auto;
}

.panel-content{
	height:auto;
	width: 100%;
}

.panel-content img:hover .caption{
	opacity: 1;
}

.caption {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0.0;
	-webkit-transistion: opacity 0.5s;
	transition: opacity 0.5s;
}

.caption > p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2rem;
	color: white;
	cursor: pointer;
}

.hidden{
	display: none;
}

/*.caption:hover, .caption:focus {
	opacity: 1.0;
}*/

.caption:active {
	opacity: 1.0;
}


footer {
	width: 100%;
	height: 20px;
	text-align: center;
	background-color: #6b6054;
}

#resumeDownload {
	position: absolute;
	top: 0px;
	right: 15px;
	width: 50px;
	height: 50px;
	background-color: #a1b0ab;
	border: 2px black solid;
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#resume a:link{
	color: black;
	opacity: 0.2;
	transition: opacity 0.6s;
}
#resume a:visited{
	opacity: 0.2;
	color: black;
}
#resume a:hover{
	opacity: 1.0;

}
#resume a:active{
	opacity: 1.0;

}

#resume {
	background-color: white;
	height: 90vh;
}


#contact {

}

@media only screen and (min-device-width: 760px) and (min-width: 760px){
	
	.panel {
		margin: 1rem;
		flex: 1 300px;
		/*background-color: purple;*/
		position: relative;
		overflow: hidden;
	}

	.wide {
		flex: 2 600px;
	}
	
}

@media only screen and (min-device-width: 760px){
	
	body{
		min-width: 480px;
	}
	
	#slider-and-info{
		font-size: 16px;
		flex-flow: row wrap;
	}
	
	.caption:hover, .caption:focus {
		opacity: 1.0;
	}
}
